---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"
---
<BaseLayout pageTitle={pageTitle}>
    <p>
        This page is a work in progress please stay tuned...
    </p>
</BaseLayout>
