---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home Page';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Work In Progress</h2>
  <p>Please note that my blog/portfolio website is currently a work in progress and is constantly evolving. As an aspiring developer, I see this website as an opportunity to experiment with various design and development techniques while showcasing my skills and projects. While I am constantly updating the website to make it as informative and user-friendly as possible, please be aware that it is still a work in progress. I appreciate your patience and understanding as I continue to refine and improve the website.</p>
</BaseLayout>
