---
---
<div class="flex justify-center space-x-4 text-2xl bg-slate-900">
    <a class="hover:bg-slate-400 p-1" href="/">Home</a>
    <a class="hover:bg-slate-400 p-1" href="/about/">About</a>
    <a class="hover:bg-slate-400 p-1" href="/blog/">Blog</a>
    <a class="hover:bg-slate-400 p-1" href="/tags/">Tags</a>
</div>
