---
---
<div class="flex text-xl max-w-sm mx-auto space-x-4 dark:text-white">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>
