---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-white dark:bg-slate-800 dark:text-white">
    <Header />
    <div class="ml-1 mr-1 mt-1 p-4 dark:bg-slate-700 rounded-xl drop-shadow-xl">
      <h1 class="text-center dark:text-white underline text-xl">{pageTitle}</h1>
      <slot />
      <Footer />
    </div>
  </body>
</html>
